<app-header [pageTitle]=pageTitle>
  <div class="add-business-container">
  <span class="add-business" (click)="onStartAddingBusiness($event)"><img src="/assets/add_circle_icon.svg" alt="">
  <a>Add New Business</a>
</span>
  </div>
</app-header>





<div>

<!--@for loop over business-list and add properties to card-->

  <ul class="business-list-container">
    @for(business of businessService.businessList(); track business.businessName) {
      <app-business-card [business]="business"/>
    }

  </ul>



</div>
