
.search-input {
  box-sizing: border-box;
  margin-left: 20px;
  width: 90%;
  height: 3rem;
  border-radius: 15px;
  padding: 1rem;
  border:2px solid #b8b8b8;

}


@media screen and (min-width: 820px) {

  .search-input {
    width: 70%;
    margin-left: 200px;

  }
}
