.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 1px #aeaeae;
  padding: 1rem;
  gap: 0.7rem;
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s ease;


}
.card:hover {
  cursor: pointer;
  transform: scale(1.03);

}

.biz-image-container {
  height: 250px;
  border-radius: 12px;
  background-position: center;
  background-size: cover;

}


.biz-title {
  padding-left: 0.7rem;
  color: #2ea49e;
  letter-spacing: .08rem;
}

.biz-title:hover {
  color: #abfccf;

}
.biz-details  {
  list-style-type: none;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  margin-left: 0.7rem;
  color: rgb(0, 0, 0);

}


.tag-chip {
  font-size: 0.8rem;
  color: white;
  background-color: #87b2ad;
  display: inline-flex;
  padding: 0.6rem;
  margin: 0.2rem;
  border-radius: 20px;
  transition: transform 0.5s ease;

}
.tag-chip:hover {
  transform: scale(1.08);

}
