
<div class="card">
  <div class="biz-image-container" style="height: 250px; background-image:url('https://plus.unsplash.com/premium_photo-1661964014750-963a28aeddea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"></div>
  <h2 class="biz-title">{{ name }}</h2>
  <ul class="biz-details">
    <li>{{ location }}</li>
    <li>{{ rating }}</li>
  </ul>

  <ul>
    <li class="tag-chip">{{ tags[0] }}</li>
    <li class="tag-chip">{{ tags[0] }}</li>
  </ul>

</div>
