
<!--open and close nav slide out on click nav icon-->
<div class="top-corner-menu">
    <span class="light-mode">
    <img
      src="assets/light_mode_icon.svg" alt="house" class="light-mode-icon">
  </span>
  <span class="dark-mode">
    <img
      src="assets/dark_mode_icon.svg" alt="house" class="dark-mode-icon">
  </span>
  <div class="hamburger-menu">
    <img
      src="assets/menu_icon.svg" alt="house" class="hamburger-icon">
  </div>
</div>
<div class="nav-container">





  <nav class="nav-text">
    <span><a>
      <img
        src="assets/home_icon.svg" alt="house" class="nav-icon">
      Home</a>
    </span>
    <span><a>
      <img
        src="assets/settings_icon.svg" alt="house" class="nav-icon">
      Account Settings</a>
    </span>


  </nav>
</div>

