

.nav-text {

  color: #f5f5f5;
  font-size: 1rem;
  width: 100%;

}

.nav-container {
  width: 250px;
  height: 100%;
  padding: 1rem;
  position: fixed;
  overflow-x: hidden;
  background-color: #1d1d1d;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;

}

.nav-container a {
  list-style-type: none;
  display: inline-flex;
  letter-spacing: 0.07rem;

  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;

  text-decoration: none;
  color: inherit;
  width: 90%;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  transition: transform 0.3s ease;
}

.nav-container a:first-child {
   margin-top: 1rem;

  }


.nav-container a:hover {
  transform: scale(1.03);
  background-color: #404040;

}

#biz-central {
padding-top: 1rem;
  font-size: 1.1rem;
  color: #f5f5f5;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.07rem;
  font-family: "Geist Mono", sans-serif;
  display: inline-flex;
  gap: 0.7rem;
  align-items: center;
}

#biz-central-mobile {

  display: none;

}


.nav-icon {

  align-self: center;
  margin: 0.3rem;
  padding-right: 0.7rem;

}

.hamburger-menu {
  display: none;

}

/*.top-corner-menu {
  display: block;
  float: right;
  padding-right: 2rem;
  padding-top: 1rem;

}*/


@media screen and (max-width: 820px) {
  .nav-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: unset;
    box-shadow: unset;


  }


  .nav-container a {

    display: none;

  }

  .nav-text {
    font-size: 0.8rem;


  }

  .nav-icon {
    display: none;
  }

/*  .top-corner-menu {
    display: flex;
    place-self: end;
    padding-top: 1.5rem;
    padding-right: 1rem;
    gap: 1rem;

  }*/

  .full-container {


  }

  .hamburger-menu {
    display: block;
    position: fixed;
    right: 0.9rem;
    top: 0.3rem;
    padding-top: 1rem;

  }

  .hamburger-menu:hover {
      cursor: pointer;
  }

  .mobile-menu-accordion {
    position: fixed;
    right:0.9rem;
    top: 0.5rem;

    width: 12rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-size: 1.1rem;
    background-color: rgb(65, 65, 65);
    border: 2px solid rgba(128, 128, 128, 0.21);
    border-radius: 8px;


  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;

  }

  .mobile-menu-links {
    padding-top: 0.5rem;

  }

  .mobile-menu-links li {
    color: #f5f5f5;
    font-size: 1.1rem;
    width: 90%;
    padding: 0.5rem;
    letter-spacing: 0.03rem;
    border-radius: 12px;

  }

  .mobile-menu-links li:hover {
    cursor: pointer;
    background-color: #545454;


  }


  .close-button {
    position: relative;
    align-self: flex-end;
    font-size: 1.7rem;
    border-radius: 12px;

  }

  .close-button:hover {
    cursor: pointer;
    font-size: 2rem;



  }


  .mobile-menu-links {
    list-style-type: none;
  }

  #biz-central {
    display: none;
  }

  #biz-central-mobile {


    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    color: #f5f5f5;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.03rem;
    font-family: "Geist Mono", sans-serif;
    gap: 0.7rem;
  }

  #biz-central-mobile a {
    color: #f5f5f5;
    text-decoration: none;
  }
}
