
<!--open and close nav slide out on click nav icon-->
<!--Mobile menu-->

<span id="biz-central-mobile">
      <img
        src="assets/bizcentral-icon.svg" alt="MyBizCentral" class="mybiz-icon">
      MyBizCentral
    </span>
<div class="top-corner-menu">
    <span class="light-mode">
    <img
      src="assets/light_mode_icon.svg" alt="light-mode" class="light-mode-icon">
  </span>
  <span class="dark-mode">
    <img
      src="assets/dark_mode_icon.svg" alt="dark-mode" class="dark-mode-icon">
  </span>
  <div class="hamburger-menu">
    <img
      src="assets/menu_icon.svg" alt="menu" class="hamburger-icon">
  </div>
</div>

<!--Desktop Menu-->
<div class="nav-container">

<span id="biz-central">
      <img
        src="assets/bizcentral-icon.svg" alt="MyBizCentral" class="mybiz-icon">
      MyBizCentral
    </span>

  <nav class="nav-text">
    <span>
      <a
        routerLink="/dashboard"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
      <img
        src="assets/home_icon.svg" alt="house" class="nav-icon">
      Dashboard
      </a>
    </span>
    <span>
      <a
        routerLink="/business-list"
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page"
      >
      <img
        src="assets/settings_icon.svg" alt="house" class="nav-icon">
      My Businesses</a>
    </span>
  </nav>
</div>

