
<!--open and close nav slide out on click nav icon-->
<!--Mobile menu-->
<div>
  <span id="biz-central-mobile">
      <img
        src="assets/bizcentral-icon.svg" alt="MyBizCentral" class="mybiz-icon">
        <a
          routerLink="/dashboard"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
            MyBizCentral
         </a>
    </span>
</div>

<div>
  <div class="hamburger-menu" (click)="toggleMenu()">
    <img
      src="assets/menu_icon.svg" alt="menu" class="hamburger-icon">
  </div>

  @if (mobileMenuAccordion){
    <div class="mobile-menu-accordion">
      <div class="mobile-menu-container">
        <div class="close-button" (click)="toggleMenu()">x</div>
        <div>
          <ul class="mobile-menu-links">
            <a
              routerLink="/dashboard"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page"
            >
              <li>
                Dashboard
              </li>
            </a>
            <a
              routerLink="/business-list"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page"
            >
              <li>My Businesses</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  }
</div>



<!--Desktop Menu-->
<div class="nav-container">

<span id="biz-central">
      <img
        src="assets/bizcentral-icon.svg" alt="MyBizCentral" class="mybiz-icon">
      MyBizCentral
    </span>

  <nav class="nav-text">
    <span>
      <a
        routerLink="/dashboard"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
      <img
        src="assets/home_icon.svg" alt="house" class="nav-icon">
      Dashboard
      </a>
    </span>
    <span>
      <a
        routerLink="/business-list"
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page"
      >
      <img
        src="assets/settings_icon.svg" alt="house" class="nav-icon">
      My Businesses</a>
    </span>
  </nav>
</div>

