<app-header [pageTitle]=pageTitle />

<div class="add-business-container">
  <form #addBusinessForm="ngForm" (ngSubmit)="onSubmitNewBusiness(addBusinessForm)">
    <label for="business-name">Business Name</label>
    <input type="text" id="business-name" name="businessName" [(ngModel)]="formFields.businessName" minlength="2" maxlength="45" required
           #business_name="ngModel">

    @if (business_name.dirty || business_name.touched && business_name.value === "") {
      @if (business_name.hasError('required')) {
        <p class="alert">
          Business Name is required.
          Please enter at least 2 characters.
        </p>
      }
    }

    <label for="business-address">Street Address</label>
    <input type="text" id="business-address" name="businessAddress" [(ngModel)]="formFields.businessAddress" required
           #business_address="ngModel">
    @if (business_address.dirty || business_address.touched && business_address.value === "") {
      @if (business_address.hasError('required')) {
        <p class="alert">
          Street Address is required.
        </p>
      }
    }

    <label for="business-city">City</label>
    <input type="text" id="business-city" name="businessCity" [(ngModel)]="formFields.businessCity" required
           #business_city="ngModel">
    @if (business_city.dirty || business_city.touched && business_city.value === "") {
      @if (business_city.hasError('required')) {
        <p class="alert">
          Business City is required.
        </p>
      }
    }

    <div id="state-zip">
      <label for="business-state">State</label>
      <input type="text" id="business-state" name="businessState" [(ngModel)]="formFields.businessState" maxlength="2" required
             #business_state="ngModel">
      @if (business_state.dirty || business_state.touched && business_state.value === "") {
        @if (business_state.hasError('required')) {
          <p class="alert">
            Business State is required.
          </p>
        }
      }
      <label for="business-zipcode">Zip Code</label>
      <input type="text" id="business-zipcode" name="businessZipcode" [(ngModel)]="formFields.businessZipcode" maxlength="5" required
             #business_zipcode="ngModel">
    </div>
    @if (business_zipcode.dirty || business_zipcode.touched && business_zipcode.value === "") {
      @if (business_zipcode.hasError('required')) {
        <p class="alert">
          Business Zip Code is required.
        </p>
      }
    }

    <label for="business-tags">Tags</label>
    <input type="text" id="business-tags" name="businessTags" [(ngModel)]="formFields.businessTags">

    <label for="business-category">Category</label>
    <select type="text" id="business-category" name="businessCategory" [(ngModel)]="formFields.businessCategory" required
            #business_category="ngModel">
      <option>Real Estate</option>
      <option>Advertising</option>
      <option>Construction</option>
      <option>IT</option>
      <option>Education</option>
    </select>
    @if (business_category.dirty || business_category.touched && business_category.value === "") {
      @if (business_category.hasError('required')) {
        <p class="alert">
          Business Category is required.
        </p>
      }
    }

    <div class="submit-container">

      @if (!addBusinessForm.valid) {
        <div>
          <p class="alert">
            Please fill in required fields.
          </p>
        </div>

      }
      <div>
        <button
          [disabled]="!addBusinessForm.valid" class="form-button" type="submit" >
          Submit
        </button>
      </div>
      <div>
        <a
          class="cancel"
          routerLink="/business-list"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          Cancel
        </a>
      </div>
    </div>



  </form>
</div>

<!--more details to add later, image and business hours, maybe another form to "complete your profile" after initial creation-->
