<app-header [pageTitle]=pageTitle>{{pageTitle}}</app-header>
<div class="welcome-view-container">

<div>
  <div class="dashboard-tile-top-row">
    <p>Total Listings</p>
  </div>
  <div class="dashboard-tile-top-row">
    <p>Total Listings</p>
  </div>
  <div class="dashboard-tile-top-row">
    <p>Total Listings</p>
  </div>
</div>

<div>
  <div class="dashboard-tile-2nd-row">
    <p>Total Listings</p>
  </div>
  <div class="dashboard-tile-2nd-row">
    <p>Total Listings</p>
  </div>
</div>





</div>
